{{ header }}{{ column_left }}
<div id="content">
<div class="importseo">
  <div class="page-header">
    <div class="container-fluid">
     
       <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
	{% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="fa fa-pencil"></i> {{ heading_title }}</h3>
      </div>
    <div class="panel-body">
      
	  <fieldset>
	  	<form action="{{ importproduct }}" method="post" enctype="multipart/form-data" id="importproduct">
		
		<legend>Import Product</legend>
		<div class="row mb-3">
			<label class="col-sm-4 col-form-label">{{ entry_productimport }}<span data-toggle="tooltip" title="{{ help_productimport }}">{{ entry_forexp }}</span>		
			</label>
            <div class="col-sm-4">
			<input type="file" name="importseoproduct"  id="file-product" class="inputfile inputfile-6" data-multiple-caption="{count} files selected" multiple />
				<label for="file-product"><span></span> <strong><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> Choose a file&hellip;</strong></label>
			
				<br/>
			<a class="btn btn-primary btn-block impbtn" onclick="$('#importproduct').submit();" class="button" id="product-import">{{ button_productimport }}</a>			
			</div>
			
			<div class="col-sm-4">	
			<select name="pcategory_id" class="form-control" style="">
			<option value="">{{ text_all_category }}</option>
			{% for categorie in categories %}
			<option value="{{ categorie.category_id }}">{{ categorie.name }}</option>
			{% endfor %}
			</select>
			<br/>
			
			<select name="productlanguage_id" class="form-control" style="">
			<option value="">{{ text_select }}</option>
			 {% for language in languages %}
			<option value="{{ language.language_id }}">{{ language.name }}</option>
			{% endfor %}
			</select>
			<br/>
			
			
			<a class="btn btn-primary btn-block" class="button" id="product-export">{{ button_productexport }}</a>
			
			</div>
			
		</div>
		</form>
		
		<form action="{{ importcategory }}" method="post" enctype="multipart/form-data" id="importcategory">
		<legend>Import Category</legend>
		<div class="row mb-3">
			<label class="col-sm-4 col-form-label">{{ entry_categoryimport }}
			<span data-toggle="tooltip" title="{{ help_productimport }}">{{ entry_forexp1 }}</span>
			</label>
            <div class="col-sm-4">
			<input type="file" name="importseocategory" id="file-cat" class="inputfile inputfile-6" data-multiple-caption="{count} files selected" multiple />
				<label for="file-cat"><span></span> <strong><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> Choose a file&hellip;</strong></label>
			<br />
			<a class="btn btn-primary btn-block" onclick="$('#importcategory').submit();" class="button" id="category-import">{{ button_categoryimport }}</a>
			</div>
			<div class="col-sm-4">
			<select name="categorylanguage_id" class="form-control" >
			<option value="">{{ text_select }}</option>
			 {% for language in languages %}
			<option value="{{ language.language_id }}">{{ language.name }}</option>
			{% endfor %}
			</select>
			<br/>
			
			
			<a class="btn btn-primary btn-block " class="button" id="category-export">{{ button_categoryexport }}</a>
			</div>
		</div>
		</form>

		<form action="{{ importinfo }}" method="post" enctype="multipart/form-data" id="importinfo">
		<legend>Import Information</legend>
		<div class="row mb-3">
			<label class="col-sm-4 col-form-label">{{ entry_informationimport }}
			<span data-toggle="tooltip" title="{{ help_productimport }}">{{ entry_forexp2 }}</span>
			</label>
            <div class="col-sm-4">
			<input type="file" name="importinformation" id="file-info" class="inputfile inputfile-6" data-multiple-caption="{count} files selected" multiple />
				<label for="file-info"><span></span> <strong><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> Choose a file&hellip;</strong></label>
			<br/ >
			<a class="btn btn-primary btn-block" onclick="$('#importinfo').submit();" class="button" id="info-import">{{ button_informationimport }}</a>
			</div>
			
			<div class="col-sm-4">
			<select name="infolanguage_id" class="form-control" >
			<option value="">{{ text_select }}</option>
			 {% for language in languages %}
			<option value="{{ language.language_id }}">{{ language.name }}</option>
			{% endfor %}
			</select>
			<br/>
			
			
			<a class="btn btn-primary btn-block" class="button" id="info-export">{{ button_informationexport }}</a>
			
			</div>
		</div>
		</form>
		
		<form action="{{ importmanuf }}" method="post" enctype="multipart/form-data" id="importmanuf">
		<legend>Import Manufacturers</legend>
		<div class="row mb-3">
			<label class="col-sm-4 col-form-label">{{ entry_manufaimport }}
			<span data-toggle="tooltip" title="{{ help_productimport }}">{{ entry_forexp3 }}</span>
			</label>
            <div class="col-sm-4">
			<input type="file" name="importmanufac" id="file-manufa" class="inputfile inputfile-6" data-multiple-caption="{count} files selected" multiple />
				<label for="file-manufa"><span></span> <strong><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> Choose a file&hellip;</strong></label>
			<br/>
			
			
			<a class="btn btn-primary btn-block " onclick="$('#importmanuf').submit();" class="button" id="manufa-import">{{ button_manufaimport }}</a>
			</div>
			<div class="col-sm-4">
			<select name="manuflanguage_id" class="form-control" >
			<option value="">{{ text_select }}</option>
			 {% for language in languages %}
			<option value="{{ language.language_id }}">{{ language.name }}</option>
			{% endfor %}
			</select>
			
			<br/>
			
			
			<a class="btn btn-primary btn-block " class="button" id="manufa-export">{{ button_manufaexport }}</a>
			
			</div>
		</div>
		
      </form>
      </fieldset>
    </div>
  </div>
  </div>
</div>
</div>

<script>

{% if(VERSION2>='4.0.2.0') %}
$('#product-export').bind('click', function() {
	var productlanguage_id = $('select[name=\'productlanguage_id\']').val();
	var pcategory_id = $('select[name=\'pcategory_id\']').val();
	if (productlanguage_id != '*') {
	location= 'index.php?route=extension/tmdseourlcomboofimportexport/tmd/importseo.exportproduct&user_token={{ user_token }}&language_id='+productlanguage_id+'&category_id='+pcategory_id;
	}

});
	
$('#category-export').bind('click', function() {
	var categorylanguage_id = $('select[name=\'categorylanguage_id\']').val();
	if (categorylanguage_id != '*') {
	location= 'index.php?route=extension/tmdseourlcomboofimportexport/tmd/importseo.exportcategory&user_token={{ user_token }}&language_id='+categorylanguage_id;
	}

});
$('#info-export').bind('click', function() {
	var infolanguage_id = $('select[name=\'infolanguage_id\']').val();
	if (infolanguage_id != '*') {
	location= 'index.php?route=extension/tmdseourlcomboofimportexport/tmd/importseo.exportinfo&user_token={{ user_token }}&language_id='+infolanguage_id;
	}

});
	
$('#manufa-export').bind('click', function() {
	var manuflanguage_id = $('select[name=\'manuflanguage_id\']').val();
	if (manuflanguage_id != '*') {
	location= 'index.php?route=extension/tmdseourlcomboofimportexport/tmd/importseo.exportmanuf&user_token={{ user_token }}&language_id='+manuflanguage_id;
	}

});
{% else %}

$('#product-export').bind('click', function() {
	var productlanguage_id = $('select[name=\'productlanguage_id\']').val();
	var pcategory_id = $('select[name=\'pcategory_id\']').val();
	if (productlanguage_id != '*') {
	location= 'index.php?route=extension/tmdseourlcomboofimportexport/tmd/importseo|exportproduct&user_token={{ user_token }}&language_id='+productlanguage_id+'&category_id='+pcategory_id;
	}

});
	
$('#category-export').bind('click', function() {
	var categorylanguage_id = $('select[name=\'categorylanguage_id\']').val();
	if (categorylanguage_id != '*') {
	location= 'index.php?route=extension/tmdseourlcomboofimportexport/tmd/importseo|exportcategory&user_token={{ user_token }}&language_id='+categorylanguage_id;
	}

});
$('#info-export').bind('click', function() {
	var infolanguage_id = $('select[name=\'infolanguage_id\']').val();
	if (infolanguage_id != '*') {
	location= 'index.php?route=extension/tmdseourlcomboofimportexport/tmd/importseo|exportinfo&user_token={{ user_token }}&language_id='+infolanguage_id;
	}

});
	
$('#manufa-export').bind('click', function() {
	var manuflanguage_id = $('select[name=\'manuflanguage_id\']').val();
	if (manuflanguage_id != '*') {
	location= 'index.php?route=extension/tmdseourlcomboofimportexport/tmd/importseo|exportmanuf&user_token={{ user_token }}&language_id='+manuflanguage_id;
	}

});
{% endif %}


	
</script>
<script>
( function ( document, window, index )
{
	var inputs = document.querySelectorAll( '.inputfile' );
	Array.prototype.forEach.call( inputs, function( input )
	{
		var label	 = input.nextElementSibling,
			labelVal = label.innerHTML;

		input.addEventListener( 'change', function( e )
		{
			var fileName = '';
			if( this.files && this.files.length > 1 )
				fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
			else
				fileName = e.target.value.split( '\\' ).pop();

			if( fileName )
				label.querySelector( 'span' ).innerHTML = fileName;
			else
				label.innerHTML = labelVal;
		});

		// Firefox bug fix
		input.addEventListener( 'focus', function(){ input.classList.add( 'has-focus' ); });
		input.addEventListener( 'blur', function(){ input.classList.remove( 'has-focus' ); });
	});
}( document, window, 0 ));
</script>
<style>
.importseo form{margin-bottom:20px;}
.importseo legend{border-bottom:5px solid #e5e5e5}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 100%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
.inputfile-6 + label {
    color: #00A3D9;
}

.inputfile-6 + label {
   background-color: #f5f5f5;
    background-image: none;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 0px;
    box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.075) inset;
    color: hsl(0, 0%, 33%);
    font-size: 12px;
    height: 40px;
    line-height: 1.42857;
    padding: 5px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	margin-bottom:15px;
}



.inputfile-6 + label span {
    width: 150px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile-6 + label strong{
padding:3px 0px;
line-height:25px;
}
.impbtn{
	margin-top:21%;
}
.importseo .form-control{
	background-color:#f5f5f5;
	border-radius:0px;
	height:40px;
}
</style>
{{ footer }}